---
import GmailIcon from "@/icons/GmailIcon.astro";
import PhoneIcon from "@/icons/PhoneIcon.astro";
import WorldIcon from "@/icons/WorldIcon.astro";

import cv from "@/cv.json";

const { name, phone, location } = cv.basics;
---

<header class="flex justify-between items-center">
  <article class="flex flex-col gap-1 justify-start">
    <h1 class="text-[32px]">{name}</h1>
    <p class="flex items-center gap-2">
      <WorldIcon />
      {location.city}, {location.region}
    </p>
    <p class="flex items-center gap-1">
      <PhoneIcon />
      {phone}
    </p>
    <footer class="flex items-center gap-1 mt-2">
      <a
        class="inline-flex items-center justify-center text-[#777] border border-[#eee] p-1 w-8 h-8 rounded-md transition-all hover:bg-[#eee] hover:border-[#ddd] cursor-pointer"
        target="_blank"
      >
        <GmailIcon color="#777" />
      </a>
    </footer>
  </article>
</header>
